:root{
    --colorNegro:#1e1f22;
    --colorDorado: #dac687;
    --colorOcre: #924225;
    --colorBlanco: #ede2da;
    --fuentePrincipal:'Cinzel Decorative', serif;
    --fuenteSecundaria: 'Raleway', sans-serif;
 
 /*Buscar fuentes que nos gusten*/
 }
 html{
     font-size: 62.5%;
 }
 
 body{
     background-color: var(--colorNegro);
     color: var(--colorDorado);
     font-size: 16px;
 }
 
 
 .contenedor {
     max-width: 75%;
     margin: 0 auto;
 }


 /*ESTILO DEL NAVEGADOR-HEADER*/

.navegador{
    
    background-color: #1e1f22;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    /* margin-top: 40px; */
    margin-bottom: 80px;
}

.carta {
    display: flex;
    gap: 100px;
    align-items: center;
}

.carta a{
    color: var(--colorBlanco);
    font-family: var(--fuentePrincipal);
    text-decoration: none;
}

.navegador img {
    height: 120px;
    width: 120px;
}

.horario{
    display: flex;
    gap: 100px;
    align-items: center;
   
}

.horario a{
    font-family: var(--fuentePrincipal);
    color: var(--colorBlanco);
    text-decoration: none;
}

.iniciarSesion{
    display: flex;
    gap: 100px;
    align-items: center;
   
}

.iniciarSesion a{
    font-family: var(--fuentePrincipal);
    color: var(--colorBlanco);
    text-decoration: none;
}

.registrarse{
    display: flex;
    gap: 100px;
    align-items: center;
   
}

.registrarse a{
    font-family: var(--fuentePrincipal);
    color: var(--colorBlanco);
    text-decoration: none;
}


/* ESTILOS CATEGORIAS  */

.seccionCategorias{
    display: flex;
}

.categoriasIzq a{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--fuenteSecundaria);
    color: var(--colorDorado);
    text-decoration: none;
}

.categoriasIzq a:hover{
    color: var(--colorOcre);
}

.categoriasDer{
    margin-left: 50px;
 
}

.categoriasDer h2{
    font-family: var(--fuentePrincipal);
}

.categoriasDer>div{
    display: flex;
    flex-direction: column;
    

}

.categoriasDer h3{
    text-transform: uppercase;
}

.categoriasDer h4{
    text-transform: capitalize;
}

.categoriasDer img{
    height: 30%;
    width: 30%;
    border-radius: 0.55rem;
}
    
.entrantes>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}






/* ESTILO HORARIOS */
.contenedorHorario{
    background-color:var(--colorOcre);
    padding-top: 30px;
    padding-bottom: 30px;
}
.contenedorHorario>div>h2{
    text-align: center;
    font-family: var(--fuentePrincipal);
    color: var(--colorNegro);

}
.diasHoras{
    display: flex;
    justify-content: space-around;
    font-family: var(--fuenteSecundaria);
    color:var(--colorNegro);
}
.horaFestivo{
    text-align: center;
}


/* ESTILO FOOTER */

/* ESTILO LOCALIZACIONES */
.iconoLocalizacion{
    display: flex;
    justify-content: left;
    align-items: center;
 
}
#localizaciones{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--fuenteSecundaria);
    
}
.calles{
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    font-family: var(--fuenteSecundaria);
    
}

.chamberi:hover, .lavapies:hover, .malasaña:hover{
    color: var(--colorOcre);
    text-decoration: underline;
}





/* ESTILO RRSS Y CONTACTOS */
    /* ESTILO DE LA BARRA SUPERIOR DEL CONTENEDOR */ 


.rrss{
    border-top: 5px ridge var(--colorOcre);
    /* height: 200px; */
    margin-bottom: 30px;
    

}
    /* DIVISION DEL CONTENEDOR PARA POSTERIORMENTE PONER LOS APARTADOS */
.contenedorRRSS{
    display: grid;
    grid: repeat(4,1fr)/repeat(2,1fr);
    
    
}
    /* COLOCACION DE EL APARTADO DE CONTACTO */
.contenedorRRSS h2{
    font-family: var(--fuenteSecundaria);
    color:var(--colorDorado); 
    text-transform: uppercase;
    font-size: 25px;
}

/* ESTILO DE LOS TELEFONOS Y EL EMAIL */
.contenedorRRSS>a{
    color:var(--colorDorado);
    text-decoration: none;
    font-family: var(--fuenteSecundaria);
    font-size:25px;
    font-weight: 600px;
    display:flex;
    justify-content: left;
}
.tlf1{
    grid-row: 2/5;
    grid-column: 1/2;
}
.tlf2{
    grid-row: 3/5;
    grid-column: 1/2;
}
.tlf3{
    grid-row: 4/5;
    grid-column: 1/2;
}
.email{
    grid-row: 5/5;
    grid-column: 1/2;
}
    /* COLOCACION DEL APARTADO DE RRSS Y ESTILO*/
.contenedorRRSS h3{
    display: flex;
    justify-content: right;
    align-items: center;
    grid-column: 2/2;
    grid-row: 2/3;
    padding-right: 77px;
    font-size: 25px;
    color:var(--colorDorado);
    font-family: var(--fuenteSecundaria);
    text-transform: uppercase;
}
.tlf1:hover, .tlf2:hover, .tlf3:hover, .email:hover{
    color:var(--colorOcre);
    text-decoration: underline;
}
    /* COLOCACIÓN DE LOS ICONOS DE LAS RRSS */
.iconos{
    display: flex;
    justify-content: right;
    align-items: center;
    grid-row: 3/4;
    grid-column: 2/2;
}
        /* ESTILO DE LOS ICONOS */
.iconos a{
    color: var(--colorDorado);
    padding:10px
}


